<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyBoard.mapper.ReplyBoardMapper">
	<!-- insertReplyBoard(ReplyBoardDTO rdto); -->
	<!-- ref는 처음엔 비어있어서 ifnull() 함수를 이용해 기본 1부터 시작하게하기
		ifnull(max(ref)+1,1) => ifnull(인수1, 인수2)는 인수1이 null이면
		인수 2가 출력. null아니 아니면 인수1이 출력
		re_step = 1; // 댓글이 아니라 부모 원글이므로 기본값으로 1을 정의
		re_level = 1; //댓글 아닌 부모 원글 기본값 1을 정의
	 -->
	<insert id="insertReplyBoard" parameterType="rDTO">
		INSERT INTO replyBoard(writer, email, subject, password, ref, re_step, re_level, content, upload1,upload2)
		VALUES(#{writer},#{email},#{subject},#{password},
		(SELECT IFNULL(MAX(r.ref)+1,1)FROM replyBoard r),1,1,#{content},#{upload1},#{upload2})
	</insert>
	
	<select id="getAllReplyBoard" resultType="rDTO">
		SELECT * FROM replyBoard ORDER BY ref DESC, re_step ASC
	</select>
	
	<!-- 	public ReplyBoardDTO getOneBoard(int num); -->
	<select id="getOneBoard" resultType="rDTO" parameterType="int">
		SELECT * FROM replyBoard WHERE num=#{num}
	</select>
	
	<!-- public void reWriteInsert(ReplyBoardDTO rdto); -->
	<select id="reWriteInsert" parameterType="rdto">
		INSERT INTO replyBoard(writer, email, subject, password, ref, re_step, re_level, content)
		VALUES(#{writer},#{email},#{subject},#{password},#{ref},#{re_step}+1,#{re_level}+1,#{content})
	</select>
	
	<!-- 	public void reSqUpdate(ReplyBoardDTO rdto); -->
	<update id="reSqUpdate" parameterType="rDTO">
		UPDATE reSqUpdate SET re_step = re_step + 1
		WHERE ref = #{ref} AND re_step > #{re_step}
	
	</update>

</mapper>